body {
  font-size: 22px;
  font-family: Gadugi, helvetica ;
}
p2 {
  color: rgb(0, 0, 30);
  font-size: 22px;
  font-style: normal;
  padding-top: 100px;

}
p4{
  font-weight: bold;
  font-size: 14px;
  color: rgb(100, 100, 150);



}
p{

  font-size: 24px;
  padding-right: 5px;
  font-weight: bold;

}
h1 {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
img {
  position: fixed;
  bottom: 80px;
  left: 20px;
  width: 30%;
  border: 5px solid rgb(51, 153, 51);


}
a {
  padding-left: 5px;
  padding-top: 20px;
  color: rgb(0, 0, 153);
  text-decoration: none;
  font-size: 16px;
}
.content{
  padding: 20px;
}
